<div class="custom-product-add-ons">
  {% for add_on in add_ons %}
    {% assign enable = true %}

    {% if hide_energy %}
      {% if add_on == 'Bonus Keio Energy' or add_on == 'Servicio Premium de Soporte' %}
        {% assign enable = false %}
      {% endif %}
    {% endif %}

    {% if enable %}
      <div 
        rel-variant="{% if add_on == 'Bonus Keio Energy' %}55889944969547{% endif %}{% if add_on == 'Protección de línea' %}55889939890507{% endif %}{% if add_on == 'Activación Express' %}55889935270219{% endif %}{% if add_on == 'Multi-SIM' %}55889933173067{% endif %}{% if add_on == 'Servicio Premium de Soporte' %}55901036544331{% endif %}"
        class="custom-product-add-ons--option"
      >
        <div class="custom-product-add-ons--option__inner">
          <div class="custom-add-on">
            <span></span>
            <span>
              {{ add_on }}
              {% if add_on contains 'Bonus Keio Energy' %}
                <div class="energy-tooltip">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                    <path d="M6 10H7.33333V6H6V10ZM6.66667 4.66667C6.85556 4.66667 7.014 4.60267 7.142 4.47467C7.27 4.34667 7.33378 4.18844 7.33333 4C7.33289 3.81156 7.26889 3.65333 7.14133 3.52533C7.01378 3.39733 6.85556 3.33333 6.66667 3.33333C6.47778 3.33333 6.31956 3.39733 6.192 3.52533C6.06445 3.65333 6.00045 3.81156 6 4C5.99956 4.18844 6.06356 4.34689 6.192 4.47533C6.32045 4.60378 6.47867 4.66756 6.66667 4.66667ZM6.66667 13.3333C5.74445 13.3333 4.87778 13.1582 4.06667 12.808C3.25556 12.4578 2.55 11.9829 1.95 11.3833C1.35 10.7838 0.875112 10.0782 0.525334 9.26667C0.175556 8.45511 0.000445288 7.58844 8.43882e-07 6.66667C-0.000443601 5.74489 0.174668 4.87822 0.525334 4.06667C0.876001 3.25511 1.35089 2.54956 1.95 1.95C2.54911 1.35044 3.25467 0.875556 4.06667 0.525333C4.87867 0.175111 5.74533 0 6.66667 0C7.588 0 8.45467 0.175111 9.26667 0.525333C10.0787 0.875556 10.7842 1.35044 11.3833 1.95C11.9824 2.54956 12.4576 3.25511 12.8087 4.06667C13.1598 4.87822 13.3347 5.74489 13.3333 6.66667C13.332 7.58844 13.1569 8.45511 12.808 9.26667C12.4591 10.0782 11.9842 10.7838 11.3833 11.3833C10.7824 11.9829 10.0769 12.458 9.26667 12.8087C8.45644 13.1593 7.58978 13.3342 6.66667 13.3333Z" fill="#931E31"/>
                  </svg>
                  <span>Consigue -50€ de descuento en tu carrito si contratas la luz con Keio energy</span>
                </div>
              {% endif %}
            </span>
          </div>
          <div>
            {% assign protection = all_products["proteccion-de-linea"] %}
            {% assign activation = all_products["activacion-express"] %}
            {% assign multisim = all_products["multi-sim"] %}
            {% assign soporte = all_products["servicio-premium-de-soporte"] %}
            
            {% if add_on == 'Bonus Keio Energy' %}
              (-€50)
            {% endif %}
            {% if add_on == 'Protección de línea' %}
              (+{{ protection.price | money }})
            {% endif %}
            {% if add_on == 'Activación Express' %}
              (+{{ activation.price | money }})
            {% endif %}
            {% if add_on == 'Multi-SIM' %}
              (+{{ multisim.price | money }})
            {% endif %}
            {% if add_on == 'Servicio Premium de Soporte' %}
              (+{{ soporte.price | money }})
            {% endif %}

          </div>
        </div>
      </div>
    {% endif %}

  {% endfor %}
</div>