<header class="main-custom-header custom-section">
    <div class="main-custom-header__top b-box">
      <div class="main-custom-header__top--container">

        <div class="global-search">
          <form id="search-form">
            <input
              id="search-input"
              type="text"
              placeholder="Buscar en Keio..."
            />
            <button type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                <path d="M14.8568 14.2085L10.5528 9.90452C11.495 8.80402 11.9925 7.45477 11.9925 6C11.9925 4.40201 11.3668 2.89447 10.2362 1.75628C9.10553 0.61809 7.59799 0 5.99246 0C4.38693 0 2.89447 0.625628 1.75628 1.75628C0.61809 2.88693 0 4.40201 0 6C0 7.59799 0.625628 9.10553 1.75628 10.2437C2.88693 11.3819 4.39447 12 6 12C7.4397 12 8.8191 11.4874 9.90452 10.5603L14.2085 14.8643C14.2915 14.9548 14.4196 15 14.5327 15C14.6533 15 14.7739 14.9472 14.8568 14.8643C14.9472 14.7739 15 14.6608 15 14.5402C15 14.4121 14.9472 14.2915 14.8568 14.2085ZM9.58794 9.58794C8.63065 10.5452 7.34925 11.0804 6 11.0804C4.65075 11.0804 3.36935 10.5528 2.41206 9.59548C1.45477 8.63065 0.919598 7.35678 0.919598 6C0.919598 4.64322 1.44724 3.36935 2.40452 2.41206C3.36181 1.45477 4.63568 0.927136 5.99246 0.927136C7.34925 0.927136 8.62312 1.45477 9.5804 2.41206C10.5377 3.36935 11.0653 4.64322 11.0653 6C11.0653 7.35678 10.5452 8.63065 9.58794 9.58794Z" fill="#5C5E5C"/>
              </svg>
            </button>
          </form>
        </div>

        <div class="main-custom-header__top--container__mobile-menu show-only-mobile">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
            <g clip-path="url(#clip0_13808_13411)">
              <path d="M1 6H19" stroke="#5C5E5C" stroke-linecap="round"/>
              <path d="M1 1H19" stroke="#6c7e6cff" stroke-linecap="round"/>
              <path d="M0.833008 10.9435H10.833" stroke="#5C5E5C" stroke-linecap="round"/>
            </g>
            <defs>
              <clipPath id="clip0_13808_13411">
                <rect width="20" height="12" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="main-custom-header__top--container__logo">
          <a href="/#">
            <img src="https://cdn.shopify.com/s/files/1/0961/9895/1243/files/logotipo.png?v=1759467563" />
          </a>
        </div>
        <div class="main-custom-header__top--container__icons">
          <div class="open-search">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M19.3568 18.7085L15.0528 14.4045C15.995 13.304 16.4925 11.9548 16.4925 10.5C16.4925 8.90201 15.8668 7.39447 14.7362 6.25628C13.6055 5.11809 12.098 4.5 10.4925 4.5C8.88693 4.5 7.39447 5.12563 6.25628 6.25628C5.11809 7.38693 4.5 8.90201 4.5 10.5C4.5 12.098 5.12563 13.6055 6.25628 14.7437C7.38693 15.8819 8.89447 16.5 10.5 16.5C11.9397 16.5 13.3191 15.9874 14.4045 15.0603L18.7085 19.3643C18.7915 19.4548 18.9196 19.5 19.0327 19.5C19.1533 19.5 19.2739 19.4472 19.3568 19.3643C19.4472 19.2739 19.5 19.1608 19.5 19.0402C19.5 18.9121 19.4472 18.7915 19.3568 18.7085ZM14.0879 14.0879C13.1307 15.0452 11.8492 15.5804 10.5 15.5804C9.15075 15.5804 7.86935 15.0528 6.91206 14.0955C5.95477 13.1307 5.4196 11.8568 5.4196 10.5C5.4196 9.14322 5.94724 7.86935 6.90452 6.91206C7.86181 5.95477 9.13568 5.42714 10.4925 5.42714C11.8492 5.42714 13.1231 5.95477 14.0804 6.91206C15.0377 7.86935 15.5653 9.14322 15.5653 10.5C15.5653 11.8568 15.0452 13.1307 14.0879 14.0879Z" fill="black"/>
            </svg>
          </div>
          <div>
            <a href="/account">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M18.75 19.5V17.75C18.75 16.8217 18.3707 15.9315 17.6956 15.2751C17.0205 14.6187 16.1048 14.25 15.15 14.25H8.85C7.89522 14.25 6.97955 14.6187 6.30442 15.2751C5.62928 15.9315 5.25 16.8217 5.25 17.75V19.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 10.75C14.0711 10.75 15.75 9.07107 15.75 7C15.75 4.92893 14.0711 3.25 12 3.25C9.92893 3.25 8.25 4.92893 8.25 7C8.25 9.07107 9.92893 10.75 12 10.75Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          </div>
          <div>
            <i-minicart blocks="40|" />
          </div>
        </div>
      </div>
    </div>
    <div class="main-custom-header__bottom b-box">
      {% if section.settings.menu != blank %}
        <nav class="main-custom-header__bottom--container">
          <ul class="main-custom-header__bottom--container__list">
            {%- for link in section.settings.menu.links -%}
              {% assign is_active = false %}

              {%- if link.current or link.child_active -%}
                {% assign is_active = true %}
              {%- endif -%}

              <li class="main-custom-header__bottom--container__list--item {{ link.title }} {% if is_active %} level-2{% endif %}">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {% endif %}
    </div>
  </header>

<div class="float-whatsapp">
  <a href="https://wa.me/34621602341" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
      <path d="M27.3387 4.64613C24.4548 1.77564 20.471 0 16.0702 0C7.26966 0 0.134008 7.10151 0.134008 15.8623C0.134008 18.7776 0.924118 21.5083 2.30172 23.8559L2.26098 23.7812L0 32L8.44678 29.7943C10.6456 31.0097 13.2689 31.7247 16.0606 31.7247H16.067C24.8676 31.7215 32 24.6189 32 15.8591C32 11.4809 30.2182 7.51767 27.3376 4.64719L27.3387 4.64613ZM16.067 29.0452H16.0616C13.5755 29.0452 11.2481 28.3623 9.26155 27.1746L9.32159 27.2077L8.83809 26.9228L3.82619 28.2321L5.16305 23.3672L4.84787 22.8689C3.57747 20.882 2.82274 18.4607 2.82274 15.8634C2.82274 8.5837 8.75232 2.68161 16.0659 2.68161C23.3795 2.68161 29.3091 8.5837 29.3091 15.8634C29.3091 23.1431 23.3817 29.0452 16.067 29.0452ZM23.3313 19.1735C22.9336 18.9751 20.976 18.0179 20.6115 17.8845C20.2459 17.7522 19.98 17.6871 19.7142 18.084C19.4504 18.4799 18.6871 19.372 18.4545 19.6367C18.2229 19.9024 17.9892 19.9344 17.5915 19.737C16.3586 19.2397 15.2994 18.577 14.3785 17.7607L14.3892 17.7703C13.5326 16.9807 12.7983 16.0768 12.2054 15.0802L12.1754 15.0247C11.9439 14.6288 12.1508 14.4143 12.3491 14.2169C12.5281 14.0397 12.7479 13.7538 12.9462 13.5233C13.1028 13.3323 13.2368 13.1135 13.3386 12.8788L13.345 12.8606C13.3911 12.7678 13.4179 12.66 13.4179 12.5448C13.4179 12.405 13.3783 12.2748 13.3097 12.1638L13.3118 12.167C13.211 11.9685 12.4156 10.0179 12.0843 9.22396C11.7605 8.45138 11.4314 8.55702 11.188 8.54422C10.9565 8.53355 10.6906 8.53141 10.4247 8.53141C10.0013 8.54208 9.62498 8.73203 9.36554 9.02548L9.36447 9.02761C8.50467 9.83967 7.97079 10.9847 7.97079 12.2534C7.97079 12.2812 7.97079 12.31 7.97186 12.3377V12.3335C8.1123 13.8989 8.70193 15.3043 9.6089 16.4492L9.59603 16.4332C11.3156 18.9719 13.6077 21.0025 16.2975 22.3705L16.3983 22.4164C16.9858 22.6811 17.7383 22.9639 18.5081 23.2061L18.6678 23.2498C19.1417 23.3992 19.6874 23.4857 20.2534 23.4857C20.5782 23.4857 20.8977 23.4568 21.2065 23.4024L21.1732 23.4067C22.3193 23.1687 23.2702 22.4805 23.8502 21.5403L23.8598 21.5222C24.0367 21.1317 24.1396 20.676 24.1396 20.1969C24.1396 19.9995 24.1225 19.8063 24.0892 19.6185L24.0925 19.6388C23.9938 19.4734 23.728 19.3752 23.3292 19.1757L23.3313 19.1735Z" fill="white"/>
    </svg>
  </a>
</div>

<script>
  window.allProducts = [];

  {% assign my_collection = collections['shop'] %}

  {% for product in my_collection.products %}
    {% assign related = product.metafields.custom.productos_relacionados.value %}

    window.allProducts.push({
      ...{{ product | json }},
      related_products: [
        {% for related_product in related %}
          {{ all_products[related_product.handle] | json }}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    });
  {% endfor %}
</script>

<script>
  const form = document.getElementById("search-form");
  const input = document.getElementById("search-input");

  form.addEventListener("submit", function (e) {
    e.preventDefault();

    const query = input.value.trim();

    if (query.length > 0) {
      const url = `/search?q=${encodeURIComponent(query)}`;
      window.location.href = url;
    }
  });

  input.addEventListener("keypress", (e) => {
    if (e.key === "Enter") {
      const q = input.value.trim();
      if (q) window.location.href = `/search?q=${encodeURIComponent(q)}`;
    }
  });
</script>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header i-section section-i-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Estructura"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu principal"
    },
    {
      "type": "image_picker",
      "id": "logo_header",
      "label": "Logo header"
    },
    {
      "type": "image_picker",
      "id": "logo_header_dark",
      "label": "Logo header negro"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Productos megamenu"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
