{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script>
  setTimeout(() => {
    const params = new URLSearchParams(window.location.search);

    if (params.get('view') === 'edit') {
      document.querySelector('.account-global-page__content--content').classList.add('show-edit')
    }
  }, 1000);
</script>

<div class="customer account account-global-page section-{{ section.id }}-padding">
  <div>
    <h1 class="customer__title">{{ 'customer.account.title' | t }}</h1>
  </div>

  <div class="flex-block">
    <div class="account-global-page__content">
      <div class="account-global-page__content--sidebar">
        <div class="account-global-page__content--sidebar__links">
          <a href="{{ routes.account_url }}" class="active">Mi cuenta</a>
          <a href="https://shopify.com/96198951243/account/profile">Direcciones</a>
          <a href="https://shopify.com/96198951243/account/orders">Productos contratados</a>
          {% comment %} <a href="/pages/invitaciones-keio-x">Keio X</a> {% endcomment %}
          <a href="/pages/soporte" class="last-link">Soporte</a>
        </div>
        <div class="account-global-page__content--sidebar__close">
          <a href="{{ routes.account_logout_url }}">
            {{ 'customer.log_out' | t }}
          </a>
        </div>
      </div>
      <div class="account-global-page__content--content">
        <div class="account-global-page__content--content__row">
          <div class="account-global-page__content--content__row--heading">
            <h3>Información personal</h3>
            <a href="https://shopify.com/96198951243/account/profile" class="global-edit-button">
              Editar
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <mask id="mask0_13530_8956" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
                  <rect width="16" height="16" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_13530_8956)">
                  <path d="M3.60104 12.4H4.34204L10.8997 5.84234L10.1587 5.10134L3.60104 11.659V12.4ZM2.73438 13.2667V11.2937L11.028 2.98717C11.1177 2.89561 11.2142 2.83045 11.3175 2.79167C11.4209 2.75278 11.5292 2.73334 11.6424 2.73334C11.7557 2.73334 11.8639 2.7515 11.9669 2.78784C12.07 2.82417 12.1698 2.8885 12.2664 2.98084L13.0139 3.72184C13.1062 3.81839 13.1716 3.91839 13.21 4.02184C13.2485 4.12528 13.2677 4.23178 13.2677 4.34134C13.2677 4.45811 13.2475 4.56956 13.207 4.67567C13.1665 4.78178 13.1021 4.87878 13.0139 4.96667L4.70738 13.2667H2.73438ZM10.5227 5.47834L10.1587 5.10134L10.8997 5.84234L10.5227 5.47834Z" fill="#931E31"/>
                </g>
              </svg>
            </a>
          </div>
          <div class="account-global-page__content--content__row--body">

            <div class="account-global-page__content--content__row--body__content view">
              <div>
                <h4>Nombre completo</h4>
                <p>{{ customer.first_name }} {{ customer.last_name }}</p>
              </div>
              <div>
                <h4>Nº teléfono</h4>
                <p>{{ customer.phone }}</p>
              </div>
              <div>
                <h4>Email</h4>
                <p>{{ customer.email }}</p>
              </div>
            </div>

            <div class="account-global-page__content--content__row--body__content edit">
              {% form 'customer' %}
                <input type="hidden" name="form_type" value="customer">
                <input type="hidden" name="utf8" value="✓">

                <div class="main-input-field">
                  <label for="customer_first_name">Nombre</label>
                  <input type="text" name="customer[first_name]" id="customer_first_name" value="{{ customer.first_name }}">
                </div>

                <div class="main-input-field">
                  <label for="customer_last_name">Apellidos</label>
                  <input type="text" name="customer[last_name]" id="customer_last_name" value="{{ customer.last_name }}">
                </div>

                <button type="submit" class="main-custom-button">Guardar cambios</button>
              {% endform %}
            </div>


          </div>
        </div>
      </div>
    </div>


    {% comment %} <div>
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
          <table role="table" class="order-history">
            <caption class="visually-hidden">
              {{ 'customer.orders.title' | t }}
            </caption>
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                <th id="ColumnFulfillment" scope="col" role="columnheader">
                  {{ 'customer.orders.fulfillment_status' | t }}
                </th>
                <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row">
                  <td
                    id="RowOrder"
                    role="cell"
                    headers="ColumnOrder"
                    data-label="{{ 'customer.orders.order_number' | t }}"
                  >
                    <a
                      href="{{ order.customer_url }}"
                      aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                    >
                      {{ order.name }}
                    </a>
                  </td>
                  <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                    {{ order.created_at | time_tag: format: 'date' }}
                  </td>
                  <td
                    headers="RowOrder ColumnPayment"
                    role="cell"
                    data-label="{{ 'customer.orders.payment_status' | t }}"
                  >
                    {{ order.financial_status_label }}
                  </td>
                  <td
                    headers="RowOrder ColumnFulfillment"
                    role="cell"
                    data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                  >
                    {{ order.fulfillment_status_label }}
                  </td>
                  <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                    {{ order.total_net_amount | money_with_currency }}
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
            <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
              <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                        {{- part.title -}}
                      </a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </nav>
          {%- endif -%}
        {%- endif -%}
      {% endpaginate %}
    </div> {% endcomment %}
{% comment %} 
    <div>
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <a href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </div> {% endcomment %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
