<section class="main-custom-keio-x custom-section">
    <div class="main-custom-keio-x__banner">
      <img src="{{ section.settings.primary_banner | image_url: width: 1200 }}" class="full-banner show-only-desktop" />
      <img src="{{ section.settings.primary_banner_mobile | image_url: width: 1200 }}" class="full-banner show-only-mobile" />
    </div>

    <div class="main-custom-keio-x__content pt" id="content-section">
      <div class="main-custom-keio-x__content--benefits pl pr">
        <h2 class="main-global-title-section">Beneficios Keio X</h2>
        <div class="main-custom-keio-x__content--benefits__body">
           {% render 'keio-benefits' %}
        </div>
      </div>

      <div class="main-custom-keio-x__content--banner-cta invitations">
        <div class="main-custom-keio-x__content--banner-cta__inner">
          <div class="main-custom-keio-x__content--banner-cta__inner--heading">
            <div>Invitaciones</div>
            <div>Tus invitaciones son tu poder para multiplicar la comunidad Keio</div>
          </div>
          <div class="main-custom-keio-x__content--banner-cta__inner--body">

            <svg width="366" height="92" viewBox="0 0 366 92" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="path-1-inside-1_13713_15639" fill="white">
              <path d="M0 16C0 7.16345 7.16344 0 16 0H155C163.837 0 171 7.16344 171 16V76C171 84.8366 163.837 92 155 92H16C7.16344 92 0 84.8366 0 76V16Z"/>
              </mask>
              <path d="M16 0V2H155V0V-2H16V0ZM171 16H169V76H171H173V16H171ZM155 92V90H16V92V94H155V92ZM0 76H2V16H0H-2V76H0ZM16 92V90C8.26801 90 2 83.732 2 76H0H-2C-2 85.9411 6.05888 94 16 94V92ZM171 76H169C169 83.732 162.732 90 155 90V92V94C164.941 94 173 85.9411 173 76H171ZM155 0V2C162.732 2 169 8.26801 169 16H171H173C173 6.05888 164.941 -2 155 -2V0ZM16 0V-2C6.05887 -2 -2 6.05888 -2 16H0H2C2 8.26801 8.26801 2 16 2V0Z" fill="url(#paint0_linear_13713_15639)" mask="url(#path-1-inside-1_13713_15639)"/>
              <path d="M61.0202 68H26.8449V62.3117C26.8449 60.6037 27.0635 59.0991 27.5007 57.7977C27.9379 56.4862 28.5326 55.3374 29.2849 54.3512C30.0373 53.3651 30.9065 52.5162 31.8927 51.8045C32.889 51.0928 33.9413 50.4777 35.0494 49.9592C36.1678 49.4306 37.3064 48.9782 38.4654 48.602C39.6346 48.2157 40.7682 47.8547 41.8662 47.5192L43.9097 46.9092C44.9365 46.5941 45.9125 46.2891 46.8377 45.9942C47.773 45.6994 48.6423 45.3792 49.4454 45.0335C50.2486 44.6878 50.9755 44.3066 51.6262 43.8897C52.287 43.4729 52.8462 42.99 53.3037 42.441C53.7714 41.8818 54.1272 41.2464 54.3712 40.5347C54.6254 39.8231 54.7524 39.0047 54.7524 38.0795C54.7524 36.89 54.5034 35.7717 54.0052 34.7245C53.507 33.6773 52.8004 32.7623 51.8854 31.9795C50.9704 31.1865 49.8674 30.5663 48.5762 30.119C47.285 29.6615 45.8414 29.4327 44.2452 29.4327C42.6084 29.4327 41.124 29.6818 39.7922 30.18C38.4604 30.668 37.3217 31.3593 36.3762 32.254C35.4409 33.1487 34.719 34.2263 34.2107 35.487C33.7024 36.7375 33.4482 38.1202 33.4482 39.635V40.4432H27.0432V39.513C27.0432 37.0527 27.4448 34.8363 28.2479 32.864C29.0613 30.8815 30.2254 29.1989 31.7402 27.8162C33.2652 26.4234 35.1104 25.3508 37.2759 24.5985C39.4414 23.8462 41.8814 23.47 44.5959 23.47C47.2291 23.47 49.5725 23.8207 51.6262 24.5222C53.6799 25.2237 55.4133 26.2099 56.8264 27.4807C58.2396 28.7516 59.3122 30.2817 60.0442 32.071C60.7864 33.8502 61.1574 35.8276 61.1574 38.0032C61.1574 39.6807 60.9439 41.1549 60.5169 42.4257C60.1001 43.6966 59.5308 44.8098 58.8089 45.7655C58.0973 46.711 57.2636 47.5243 56.3079 48.2055C55.3624 48.8765 54.3559 49.456 53.2884 49.944C52.2311 50.432 51.1484 50.8488 50.0402 51.1945C48.932 51.5402 47.8645 51.8553 46.8377 52.14L44.1384 52.9177C43.3048 53.1516 42.4508 53.4007 41.5764 53.665C40.7123 53.9293 39.8735 54.2343 39.0602 54.58C38.2469 54.9257 37.4793 55.3272 36.7574 55.7847C36.0458 56.2422 35.4205 56.7811 34.8817 57.4012C34.353 58.0112 33.9362 58.7229 33.6312 59.5362C33.3262 60.3394 33.1737 61.2646 33.1737 62.3117V63.2572L31.1302 62.0525H61.0202V68Z" fill="white"/>
              <path d="M92.477 45.835V48.8575H80.387L80.759 48.47V56.127L80.387 55.7395H91.547V58.762H80.387L80.759 58.3745V68H77.504V45.835H92.477ZM97.5184 50.9112V68H94.3796V50.9112H97.5184ZM97.5959 45.06V48.935H94.3021V45.06H97.5959ZM103.149 45.06V56.2665L103.126 56.2742C103.343 55.3856 103.648 54.5822 104.041 53.864C104.438 53.1458 104.909 52.5336 105.451 52.0272C105.999 51.5209 106.614 51.1308 107.296 50.857C107.978 50.5832 108.709 50.4462 109.489 50.4462C110.191 50.4462 110.858 50.547 111.488 50.7485C112.119 50.95 112.7 51.2393 113.232 51.6165C113.769 51.9885 114.252 52.4432 114.681 52.9805C115.115 53.5178 115.482 54.1197 115.782 54.7862C116.081 55.4527 116.311 56.1787 116.472 56.964C116.637 57.7493 116.72 58.5786 116.72 59.4517C116.72 60.3249 116.637 61.1542 116.472 61.9395C116.311 62.7248 116.081 63.4533 115.782 64.125C115.482 64.7915 115.115 65.3934 114.681 65.9307C114.252 66.4629 113.769 66.9176 113.232 67.2947C112.7 67.6719 112.119 67.9612 111.488 68.1628C110.858 68.3643 110.191 68.465 109.489 68.465C108.709 68.465 107.978 68.3281 107.296 68.0543C106.614 67.7804 105.999 67.3903 105.451 66.884C104.909 66.3777 104.438 65.7654 104.041 65.0472C103.648 64.3239 103.343 63.5179 103.126 62.6292L103.149 62.6447V68H100.011V45.06H103.149ZM103.149 59.4517C103.149 60.1027 103.204 60.7098 103.312 61.273C103.421 61.831 103.578 62.3425 103.785 62.8075C103.991 63.2725 104.247 63.6858 104.552 64.0475C104.857 64.404 105.203 64.7062 105.591 64.9542C105.983 65.1971 106.415 65.3831 106.885 65.5122C107.36 65.6414 107.872 65.706 108.419 65.706C109.256 65.706 109.995 65.5717 110.636 65.303C111.276 65.0292 111.814 64.6287 112.248 64.1017C112.687 63.5696 113.018 62.916 113.24 62.141C113.467 61.3608 113.581 60.4644 113.581 59.4517C113.581 58.4391 113.467 57.5452 113.24 56.7702C113.018 55.9901 112.69 55.3365 112.256 54.8095C111.822 54.2825 111.282 53.8847 110.636 53.616C109.995 53.3422 109.256 53.2052 108.419 53.2052C107.872 53.2052 107.36 53.2698 106.885 53.399C106.415 53.5282 105.983 53.7167 105.591 53.9647C105.203 54.2076 104.857 54.5098 104.552 54.8715C104.247 55.228 103.991 55.6387 103.785 56.1037C103.578 56.5636 103.421 57.0751 103.312 57.6382C103.204 58.1962 103.149 58.8007 103.149 59.4517ZM121.949 59.5292V68H118.81V50.9112H121.949V56.4525L121.926 56.4602C122.117 55.5974 122.399 54.8224 122.771 54.1352C123.148 53.4481 123.613 52.8668 124.166 52.3915C124.724 51.911 125.369 51.5442 126.103 51.291C126.837 51.0378 127.658 50.9112 128.568 50.9112H129.343V53.9027H128.575C127.325 53.9027 126.276 54.019 125.429 54.2515C124.581 54.4788 123.899 54.825 123.383 55.29C122.871 55.755 122.504 56.3414 122.282 57.0492C122.06 57.7519 121.949 58.5786 121.949 59.5292ZM130.747 56.8632C130.747 55.8816 130.927 54.9955 131.289 54.205C131.651 53.4145 132.167 52.7402 132.839 52.1822C133.516 51.6242 134.335 51.1954 135.296 50.8957C136.257 50.5961 137.334 50.4462 138.528 50.4462C139.793 50.4462 140.927 50.6167 141.93 50.9577C142.932 51.2936 143.782 51.7792 144.48 52.4147C145.177 53.0502 145.712 53.8278 146.084 54.7475C146.456 55.662 146.642 56.7005 146.642 57.863V68H143.503V63.319H143.526C143.392 63.8512 143.209 64.3472 142.976 64.807C142.744 65.2668 142.467 65.6879 142.147 66.0702C141.826 66.4526 141.462 66.7936 141.054 67.0932C140.651 67.3877 140.209 67.6383 139.729 67.845C139.253 68.0465 138.742 68.1989 138.194 68.3023C137.647 68.4108 137.071 68.465 136.466 68.465C135.531 68.465 134.681 68.341 133.916 68.093C133.152 67.8502 132.495 67.504 131.948 67.0545C131.405 66.5998 130.984 66.0573 130.685 65.427C130.39 64.7915 130.243 64.0862 130.243 63.3112C130.243 62.5311 130.395 61.8284 130.7 61.2032C131.01 60.5781 131.452 60.0485 132.025 59.6145C132.604 59.1753 133.304 58.8395 134.126 58.607C134.947 58.3745 135.874 58.2582 136.908 58.2582H143.619V60.8932H136.877C136.298 60.8932 135.789 60.9423 135.35 61.0405C134.911 61.1387 134.541 61.2859 134.242 61.4822C133.947 61.6786 133.723 61.9214 133.568 62.2107C133.418 62.5001 133.343 62.8333 133.343 63.2105C133.343 63.6135 133.428 63.9726 133.599 64.2877C133.774 64.6029 134.03 64.8664 134.366 65.0782C134.702 65.2901 135.115 65.4528 135.606 65.5665C136.102 65.675 136.67 65.7292 137.311 65.7292C137.915 65.7292 138.486 65.6802 139.024 65.582C139.566 65.4838 140.067 65.3443 140.527 65.1635C140.987 64.9827 141.4 64.7631 141.767 64.5047C142.134 64.2464 142.446 63.9571 142.705 63.6367C142.963 63.3112 143.159 62.9573 143.294 62.575C143.433 62.1927 143.503 61.7897 143.503 61.366V57.863C143.503 57.1603 143.384 56.5274 143.147 55.9642C142.914 55.4011 142.581 54.9206 142.147 54.5227C141.713 54.1249 141.186 53.8201 140.566 53.6082C139.946 53.3964 139.248 53.2905 138.473 53.2905C137.683 53.2905 136.998 53.3757 136.42 53.5462C135.846 53.7167 135.371 53.957 134.994 54.267C134.622 54.577 134.343 54.9542 134.157 55.3985C133.976 55.8377 133.885 56.3259 133.885 56.8632H130.747Z" fill="white"/>
              <mask id="path-5-inside-2_13713_15639" fill="white">
              <path d="M195 16C195 7.16345 202.163 0 211 0H350C358.837 0 366 7.16344 366 16V76C366 84.8366 358.837 92 350 92H211C202.163 92 195 84.8366 195 76V16Z"/>
              </mask>
              <path d="M211 0V2H350V0V-2H211V0ZM366 16H364V76H366H368V16H366ZM350 92V90H211V92V94H350V92ZM195 76H197V16H195H193V76H195ZM211 92V90C203.268 90 197 83.732 197 76H195H193C193 85.9411 201.059 94 211 94V92ZM366 76H364C364 83.732 357.732 90 350 90V92V94C359.941 94 368 85.9411 368 76H366ZM350 0V2C357.732 2 364 8.26801 364 16H366H368C368 6.05888 359.941 -2 350 -2V0ZM211 0V-2C201.059 -2 193 6.05888 193 16H195H197C197 8.26801 203.268 2 211 2V0Z" fill="url(#paint1_linear_13713_15639)" mask="url(#path-5-inside-2_13713_15639)"/>
              <path d="M221.613 37.9727V37.8965C221.613 35.6293 222.004 33.6011 222.787 31.8117C223.58 30.0224 224.724 28.5127 226.219 27.2825C227.713 26.0422 229.538 25.0967 231.693 24.446C233.849 23.7953 236.299 23.47 239.044 23.47C241.636 23.47 243.99 23.7597 246.105 24.3392C248.229 24.9086 250.044 25.7219 251.549 26.7792C253.053 27.8264 254.218 29.0922 255.041 30.5765C255.865 32.0507 256.276 33.6977 256.276 35.5175C256.276 36.9713 256.012 38.3133 255.483 39.5435C254.955 40.7635 254.218 41.8157 253.272 42.7002C252.337 43.5847 251.218 44.2761 249.917 44.7742C248.616 45.2622 247.187 45.5062 245.632 45.5062V45.3995C247.614 45.3995 249.393 45.6384 250.969 46.1162C252.545 46.5941 253.882 47.2803 254.98 48.175C256.078 49.0595 256.917 50.1473 257.496 51.4385C258.086 52.7195 258.381 54.1682 258.381 55.7847C258.381 57.7571 257.949 59.5515 257.085 61.168C256.22 62.7845 254.995 64.1672 253.409 65.316C251.833 66.4648 249.927 67.3544 247.691 67.9847C245.464 68.6049 242.988 68.915 240.264 68.915C237.376 68.915 234.784 68.5643 232.486 67.8627C230.189 67.1612 228.232 66.1547 226.615 64.8432C225.009 63.5216 223.773 61.9203 222.909 60.0395C222.045 58.1587 221.613 56.044 221.613 53.6955V53.6192H228.018V54.0767C228.018 55.4187 228.298 56.6387 228.857 57.7367C229.416 58.8246 230.204 59.7599 231.221 60.5427C232.247 61.3154 233.478 61.9152 234.911 62.3422C236.355 62.7591 237.966 62.9675 239.745 62.9675C241.514 62.9675 243.146 62.7591 244.641 62.3422C246.135 61.9254 247.426 61.351 248.514 60.619C249.602 59.8768 250.451 58.9974 251.061 57.9807C251.671 56.9539 251.976 55.8407 251.976 54.641C251.976 52.6178 251.056 51.1182 249.216 50.1422C247.375 49.1662 244.554 48.6782 240.752 48.6782H235.247V43.0357H240.752C242.145 43.0357 243.405 42.8883 244.534 42.5935C245.672 42.2987 246.638 41.8767 247.431 41.3277C248.224 40.7787 248.834 40.1128 249.261 39.33C249.698 38.5472 249.917 37.6728 249.917 36.707C249.917 35.6192 249.643 34.6279 249.094 33.7332C248.555 32.8386 247.787 32.071 246.791 31.4305C245.805 30.79 244.615 30.2969 243.222 29.9512C241.84 29.5954 240.304 29.4175 238.617 29.4175C236.909 29.4175 235.394 29.6056 234.072 29.9817C232.761 30.3477 231.653 30.8917 230.748 31.6135C229.853 32.3252 229.172 33.2097 228.704 34.267C228.247 35.3142 228.018 36.5189 228.018 37.8812V37.9727H221.613Z" fill="white"/>
              <path d="M294.635 45.835H300.145V68H296.89V47.4392H297.324L289.473 68H284.901L277.151 47.4392H277.577V68H274.4V45.835H279.925L287.683 66.543H286.769L294.635 45.835ZM302.301 59.4517C302.301 58.5527 302.391 57.7054 302.572 56.9097C302.753 56.1141 303.014 55.383 303.355 54.7165C303.696 54.05 304.109 53.4532 304.595 52.9262C305.086 52.3941 305.641 51.9446 306.261 51.5777C306.881 51.2109 307.558 50.9319 308.291 50.7408C309.03 50.5444 309.818 50.4462 310.655 50.4462C311.492 50.4462 312.278 50.5444 313.011 50.7408C313.75 50.9319 314.429 51.2109 315.049 51.5777C315.669 51.9446 316.222 52.3941 316.708 52.9262C317.199 53.4532 317.615 54.05 317.956 54.7165C318.297 55.383 318.558 56.1141 318.738 56.9097C318.919 57.7054 319.01 58.5527 319.01 59.4517C319.01 60.3507 318.919 61.1981 318.738 61.9937C318.558 62.7894 318.297 63.5231 317.956 64.1947C317.615 64.8612 317.199 65.458 316.708 65.985C316.217 66.512 315.662 66.9615 315.042 67.3335C314.427 67.7003 313.75 67.9793 313.011 68.1705C312.278 68.3668 311.492 68.465 310.655 68.465C309.818 68.465 309.03 68.3668 308.291 68.1705C307.558 67.9793 306.881 67.7003 306.261 67.3335C305.646 66.9615 305.093 66.512 304.602 65.985C304.112 65.458 303.696 64.8612 303.355 64.1947C303.014 63.5231 302.753 62.7894 302.572 61.9937C302.391 61.1981 302.301 60.3507 302.301 59.4517ZM305.439 59.4517C305.439 60.4076 305.558 61.2678 305.796 62.0325C306.039 62.792 306.385 63.4378 306.834 63.97C307.289 64.5022 307.839 64.9129 308.485 65.2022C309.131 65.4864 309.857 65.6285 310.663 65.6285C311.469 65.6285 312.192 65.4864 312.833 65.2022C313.479 64.9181 314.026 64.5099 314.476 63.9777C314.925 63.4404 315.269 62.792 315.507 62.0325C315.75 61.2678 315.871 60.4076 315.871 59.4517C315.871 58.4959 315.75 57.6382 315.507 56.8787C315.269 56.1141 314.925 55.4657 314.476 54.9335C314.026 54.4013 313.479 53.9932 312.833 53.709C312.192 53.4248 311.469 53.2827 310.663 53.2827C309.857 53.2827 309.131 53.4248 308.485 53.709C307.839 53.9932 307.289 54.4013 306.834 54.9335C306.385 55.4657 306.039 56.1141 305.796 56.8787C305.558 57.6382 305.439 58.4959 305.439 59.4517ZM311.763 49.7487L315.127 44.7965H312.027L309.593 49.7487H311.763ZM333.034 50.9112H336.211L330.081 68H325.199L319.13 50.9112H322.385L328.004 66.977H327.353L333.034 50.9112ZM341.035 50.9112V68H337.896V50.9112H341.035ZM341.113 45.06V48.935H337.819V45.06H341.113ZM346.666 45.06V68H343.527V45.06H346.666Z" fill="white"/>
              <defs>
              <linearGradient id="paint0_linear_13713_15639" x1="0" y1="0" x2="171" y2="92" gradientUnits="userSpaceOnUse">
              <stop/>
              <stop offset="1" stop-color="white"/>
              </linearGradient>
              <linearGradient id="paint1_linear_13713_15639" x1="195" y1="0" x2="366" y2="92" gradientUnits="userSpaceOnUse">
              <stop/>
              <stop offset="1" stop-color="white"/>
              </linearGradient>
              </defs>
            </svg>

            <button>Enviar invitación</button>
          </div>
        </div>
        <img src="{{ section.settings.banner_cta_1 | image_url: width: 1200 }}" class="full-banner show-only-desktop" />
        <img src="{{ section.settings.banner_cta_1_mobile | image_url: width: 1200 }}" class="full-banner show-only-mobile" />
      </div>

      <div class="main-custom-keio-x__content--promotions-table">
        <h2 class="main-global-title-section">Promociones Anticipadas</h2>
        <div class="main-custom-keio-x__content--promotions-table__body">
          {% render 'keio-promotions' %}
        </div>
      </div>

      <div class="main-custom-keio-x__content--banner-cta">
        <div class="main-custom-keio-x__content--banner-cta__inner">
          <div class="main-custom-keio-x__content--banner-cta__inner--heading">
            <div>Participación y Comunidad</div>
            <div>Tu voz cuenta. Ayúdanos a decidir el futuro de Keio</div>
          </div>
          <div class="main-custom-keio-x__content--banner-cta__inner--body">
            <button>Votar</button>
          </div>
        </div>
        <img src="{{ section.settings.banner_cta_2 | image_url: width: 1200 }}" class="full-banner show-only-desktop" />
        <img src="{{ section.settings.banner_cta_2_mobile | image_url: width: 1200 }}" class="full-banner show-only-mobile" />
      </div>

      <div class="main-custom-keio-x__content--promotions-table">
        <div class="main-custom-keio-x__content--promotions-table__heading">
          <h2 class="main-global-title-section">Eventos Exclusivos</h2>
          <p>Experiencias únicas solo para miembros de Keio X.</p>
        </div>
        <div class="main-custom-keio-x__content--promotions-table__body">
          {% render 'keio-promotions-v2' %}
        </div>
      </div>

      <div class="main-custom-keio-x__content--banner-cta">
        <div class="main-custom-keio-x__content--banner-cta__inner dark">
          <div class="main-custom-keio-x__content--banner-cta__inner--heading">
            <div>Atención  Premium</div>
            <div>Contacta directamente con nuestro equipo exclusivo KeioX por WhatsApp</div>
          </div>
          <div class="main-custom-keio-x__content--banner-cta__inner--body">
            <button class="dark">Contactar</button>
          </div>
        </div>
        <img src="{{ section.settings.banner_cta_3 | image_url: width: 1200 }}" class="full-banner show-only-desktop" />
        <img src="{{ section.settings.banner_cta_3_mobile | image_url: width: 1200 }}" class="full-banner show-only-mobile" />
      </div>

    </div>
</section>

<script>
    AOS.init();

    $( window ).on( "ready", function() {
      console.log("Run ketio x")
    
    });
</script>

{% schema %}
{
  "name": "main-custom-keio-x",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "primary_banner",
      "label": "Banner principal"
    },
    {
      "type": "image_picker",
      "id": "primary_banner_mobile",
      "label": "Banner principal (mobile)"
    },
    {
      "type": "image_picker",
      "id": "banner_cta_1",
      "label": "Banner cta #1"
    },
    {
      "type": "image_picker",
      "id": "banner_cta_1_mobile",
      "label": "Banner cta #1 - mobile"
    },
    {
      "type": "image_picker",
      "id": "banner_cta_2",
      "label": "Banner cta #2"
    },
    {
      "type": "image_picker",
      "id": "banner_cta_2_mobile",
      "label": "Banner cta #2 - mobile"
    },
    {
      "type": "image_picker",
      "id": "banner_cta_3",
      "label": "Banner cta #3"
    },
    {
      "type": "image_picker",
      "id": "banner_cta_3_mobile",
      "label": "Banner cta #3 - mobile"
    },
  ],
  "presets": [
    {
      "name": "main-custom-keio-x"
    }
  ]
}
{% endschema %}
