
<section class="main-custom-comparer custom-section">
    <div class="main-custom-comparer__banner">
      <div class="main-custom-comparer__banner--frame">
        <h1>Compara tarifas y ahorra con Keio</h1>
        <p>Encuentra el mejor precio entre Keio y los principales proveedores</p>
        <button class="main-custom-button goToScrollDown" href="#content-section">Comparar</button>
      </div>
      <img src="{{ section.settings.primary_banner | image_url: width: 1200 }}" class="full-banner show-only-desktop" />
      <img src="{{ section.settings.primary_banner_m | image_url: width: 1200 }}" class="full-banner show-only-mobile" />
    </div>

    <div class="main-custom-comparer__content pl pr pt pb" id="content-section">
      <h2>Compara y decide</h2>
      <p>Todas las tarifas incluyen IVA. Precios actualizados a 9/10/2025</p>

      <div class="main-custom-comparer-canvas">
        <div class="main-custom-comparer-canvas__filter">

          <div class="main-custom-comparer-canvas__filter--item">
            <div class="custom-global-select">
              <label for="serviceType">Tipo de servicio</label>
              <select name="serviceType" id="serviceType">
                <option value="Fibra + Móvil">Fibra + Móvil</option>
                <option value="Fibra">Fibra</option>
                <option value="Móvil">Móvil</option>
              </select>
            </div>
          </div>
          <div class="main-custom-comparer-canvas__filter--item">
            <div class="custom-global-select">
              <label for="company">Compañía</label>
              <select name="company" id="company">
                <option value="Todas">Todas</option>
                <option value="Keio">Keio</option>
                <option value="Movistar">Movistar</option>
                <option value="Vodafone">Vodafone</option>
              </select>
            </div>
          </div>

          <div class="main-custom-comparer-canvas__filter--item">
            <div class="custom-global-slider">
              <label for="fibra">Fibra</label>
              <div id="slider-fibra"></div>

              <div class="slider-values">
                <input type="text" id="fibra-min" readonly>
                <input type="text" id="fibra-max" readonly>
              </div>
            </div>
          </div>
          
          <div class="main-custom-comparer-canvas__filter--item">
            <div class="custom-global-slider">
              <label for="mins">Minutos</label>
              <div id="slider-mins"></div>

              <div class="slider-values">
                <input type="text" id="mins-min" readonly>
                <input type="text" id="mins-max" readonly>
              </div>
            </div>
          </div>

          <div class="main-custom-comparer-canvas__filter--item">
            <div class="custom-global-slider">
              <label for="dates">Datos móviles</label>
              <div id="slider-dates"></div>

              <div class="slider-values">
                <input type="text" id="dates-min" readonly>
                <input type="text" id="dates-max" readonly>
              </div>
            </div>
          </div>

          <div class="main-custom-comparer-canvas__filter--item">
            <button class="main-custom-button">Comparar</button>
          </div>
        </div>
        <div class="main-custom-comparer-canvas__results">Cargando tarifas...</div>
      </div>
    </div>

    <div class="main-custom-comparer__reviews pl pr pb">
      <div class="main-custom-comparer__reviews--head">
        <h2>Comparativa de reseñas</h2>
        <p>TrustScore superior al de grandes marcas y mayor ratio de reseñas</p>
        {% render 'reviews-svg' %}

      </div>
      <div class="main-custom-comparer__reviews--table">
        <table>
          <tr>
            <th>Marca</th>
            <th>Clientes</th>
            <th>Reseñas TP</th>
            <th>TrustScore</th>
            <th>Participación</th>
            <th></th>
          </tr>
          {% render 'row-table-review' brand: 'Keio', customers: '40.000', reviews: '172', review: 3, participation: '4.25 (TP/1000)', url: 'https://es.trustpilot.com/review/keio.es' %}
          {% render 'row-table-review' brand: 'Movistar', customers: '16.170.000', reviews: '1.801', review: 2, participation: '0.11 (TP/1000)', url: 'https://es.trustpilot.com/review/movistarplus.es' %}
          {% render 'row-table-review' brand: 'Vodafone', customers: '12.500.000', reviews: '3.000', review: 2, participation: '0.24 (TP/1000)', url: 'https://es.trustpilot.com/review/www.vodafone.es' %}
          {% render 'row-table-review' brand: 'Orange', customers: '12.500.000', reviews: '3.000', review: 2, participation: '0.24 (TP/1000)', url: 'https://es.trustpilot.com/review/www.orange.es' %}
          {% render 'row-table-review' brand: 'MásMóvil', customers: '12.500.000', reviews: '3.000', review: 2, participation: '0.24 (TP/1000)', url: 'https://es.trustpilot.com/review/masmovil.es' %}
          {% render 'row-table-review' brand: 'Pepephone', customers: '12.500.000', reviews: '3.000', review: 2, participation: '0.24 (TP/1000)', url: 'https://es.trustpilot.com/review/pepephone.es' %}
          {% render 'row-table-review' brand: 'O2', customers: '12.500.000', reviews: '3.000', review: 2, participation: '0.24 (TP/1000)', url: 'https://es.trustpilot.com/review/o2online.es' %}
          {% render 'row-table-review' brand: 'Lowi', customers: '12.500.000', reviews: '3.000', review: 2, participation: '0.24 (TP/1000)', url: 'https://es.trustpilot.com/review/lowi.es' %}
          {% render 'row-table-review' brand: 'Digi Mobil', customers: '12.500.000', reviews: '3.000', review: 2, participation: '0.24 (TP/1000)', url: 'https://es.trustpilot.com/review/digimobil.es' %}
          {% render 'row-table-review' brand: 'Yoigo', customers: '12.500.000', reviews: '3.000', review: 2, participation: '0.24 (TP/1000)', url: 'https://es.trustpilot.com/review/yoigo.com' %}
          {% render 'row-table-review' brand: 'Simyo', customers: '12.500.000', reviews: '3.000', review: 2, participation: '0.24 (TP/1000)', url: 'https://es.trustpilot.com/review/simyo.es' %}
        </table>
      </div>
      <div class="main-custom-comparer__reviews--footer">
        <button class="main-custom-button">Ver más</button>
      </div>
    </div>
</section>

<script>
    AOS.init();

    $(function() {

      let type = 'Fibra + Móvil'
      let company = 'Todas'

      let fibra_min = 0
      let fibra = 1000

      let mins_m = 0
      let mins = 600

      let dates_m = 0
      let dates = 120

      // data
      const rates = [
        {% for rate in shop.metaobjects.tarifa.values %}
          {
            nombre: {{ rate.nombre | json }},
            precio: {{ rate.precio }},
            compania: {{ rate.compania }},
            megas: '{{ rate.megas }}',
            minutos: '{{ rate.minutos }}',
            datos_moviles: '{{ rate.datos_moviles }}',
            product: '{{ rate.producto_relacionado.value.handle }}',

            characteristics: [
              {% for item in rate.caracteristicas.value %}
                {
                  titulo: {{ item.titulo | json }},
                  icono: {% if item.icono %}
                    {{ item.icono | image_url: width: 24 | json }}
                  {% else %}
                    null
                  {% endif %}
                }{% unless forloop.last %},{% endunless %}
              {% endfor %}
            ]

          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ];

      function renderRates (rates, type, company, fibra, mins, dates, fibra_min, mins_m, dates_m) {
        console.log("Render!", rates, type, company, fibra, mins, dates);

        let resulterItems = []

        if (type == 'Fibra + Móvil') {
          resulterItems = rates.filter((item) => item.nombre.includes('FIBRA') && item.nombre.includes('MÓVIL'))
        }
        if (type == 'Fibra') {
          resulterItems = rates.filter((item) => item.nombre.includes('FIBRA'))
        }
        if (type == 'Móvil') {
          resulterItems = rates.filter((item) => item.nombre.includes('MÓVIL'))
        }

        if (company == 'Todas') {
          resulterItems = resulterItems.filter((item) => item.compania[0].includes('KEIO') || item.compania[0].includes('MOVISTAR') || item.compania[0].includes('VODAFONE'))
        }
        if (company == 'Keio') {
          resulterItems = resulterItems.filter((item) => item.compania[0].includes('KEIO'))
        }
        if (company == 'Movistar') {
          resulterItems = resulterItems.filter((item) => item.compania[0].includes('KEIO') || item.compania[0].includes('MOVISTAR'))
        }
        if (company == 'Vodafone') {
          resulterItems = resulterItems.filter((item) => item.compania[0].includes('KEIO') || item.compania[0].includes('VODAFONE'))
        }

        resulterItems = resulterItems.filter((item) => Number(item.megas) >= fibra_min && Number(item.megas) <= fibra)
        resulterItems = resulterItems.filter((item) => (Number(item.datos_moviles) >= dates_m && Number(item.datos_moviles) <= dates) || Number(item.datos_moviles) == 9999 )
        
        console.log("List of rates", JSON.stringify(resulterItems))

        const uniqueByCompany = Object.values(
          resulterItems.reduce((acc, item) => {
            const company = item.compania[0];
            if (!acc[company]) {
              acc[company] = item;
            }
            return acc;
          }, {})
        );


        let htmLInsert = ``

        if (uniqueByCompany && uniqueByCompany[0]) {
          $.each(uniqueByCompany, function(index, item) {
            htmLInsert += `
              <div class="main-custom-comparer-canvas__results--item is-${item.compania[0]}" rel-company="${item.compania[0]}" rel-megas="${item.megas}" rel-minutos="${item.minutos}" rel-datos_moviles="${item.datos_moviles}">
                <a href="/products/${item.product}" class="main-custom-button">Contratar ahora</a>
                <div class="main-custom-comparer-canvas__results--item__heading">
                  <h2>${item.nombre}</h2>
                  <div>
                    ${Number(item.precio.amount)} <span>,00€/año</span>
                  </div>
                </div>
                <div class="main-custom-comparer-canvas__results--item__body">
                  <div class="main-custom-comparer-canvas__results--item__body--inner">
                    <ul>
            `
            for (let i = 0; i < item.characteristics.length; i++) {
              const char = item.characteristics[i]
              htmLInsert += `
                <li>
                  <img src="${char.icono}" />
                  ${char.titulo}
                </li>
              `
            }
            htmLInsert += `
                    </ul>
                    <a class="anchor" href="/products/${item.product}">Ver más detalles</a>
                  </div>
                </div>
              </div>
            `
          })
        } else {
          htmLInsert = `Sin resultados. Revisa los filtros para encontrar mejores resultados.`
        }

        $('.main-custom-comparer-canvas__results').html(htmLInsert)
      }
      

      $("#slider-fibra").slider({
        range: true,
        min: 0,
        max: 1000,
        values: [0, 1000],
        slide: function(event, ui) {
          $("#fibra-min").val(ui.values[0] + "MB");
          $("#fibra-max").val(ui.values[1] + "MB");

          fibra_min = ui.values[0]
          fibra = ui.values[1]
          renderRates(rates, type, company, ui.values[1], mins, dates, ui.values[0], mins_m, dates_m);
        }
      });
      $("#fibra-min").val($("#slider-fibra").slider("values", 0) + "MB");
      $("#fibra-max").val($("#slider-fibra").slider("values", 1) + "MB");


      $("#slider-mins").slider({
        range: true,
        min: 0,
        max: 600,
        values: [0, 600],
        slide: function(event, ui) {
          $("#mins-min").val(ui.values[0] + "");
          $("#mins-max").val(ui.values[1] + "");

          mins_m = ui.values[0]
          mins = ui.values[1]
          renderRates(rates, type, company, fibra, ui.values[1], dates, fibra_min, ui.values[0], dates_m);
        }
      });
      $("#mins-min").val($("#slider-mins").slider("values", 0) + "");
      $("#mins-max").val($("#slider-mins").slider("values", 1) + "");

      $("#slider-dates").slider({
        range: true,
        min: 0,
        max: 120,
        values: [0, 120],
        slide: function(event, ui) {
          $("#dates-min").val(ui.values[0] + "GB");
          $("#dates-max").val(ui.values[1] + "GB");

          dates_m = ui.values[0]
          dates = ui.values[1]
          renderRates(rates, type, company, fibra, mins, ui.values[1], fibra_min, mins_m, ui.values[0]);
        }
      });
      $("#dates-min").val($("#slider-dates").slider("values", 0) + "GB");
      $("#dates-max").val($("#slider-dates").slider("values", 1) + "GB");


      $('#serviceType').on('change', function() {
        const selected = $(this).val();
        type = selected
        renderRates(rates, selected, company, fibra, mins, dates, fibra_min, mins_m, dates_m);
      });

      $('#company').on('change', function() {
        const selected = $(this).val();
        company = selected
        renderRates(rates, type, selected, fibra, mins, dates, fibra_min, mins_m, dates_m);
      });

      renderRates(rates, type, company, fibra, mins, dates, fibra_min, mins_m, dates_m);

    });

</script>

{% schema %}
{
  "name": "main-custom-comparer",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "primary_banner",
      "label": "Banner principal"
    },
    {
      "type": "image_picker",
      "id": "primary_banner_m",
      "label": "Banner principal (mobile)"
    },
  ],
  "presets": [
    {
      "name": "main-custom-comparer"
    }
  ]
}
{% endschema %}
